<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <!--<FluentAppender name="fluent-app" label="" host="app.logsync.yp" port="24324"> &lt;!&ndash; 如果上容器或者新的有appname构建方式，label项无效 &ndash;&gt;-->
        <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} - %c -%-4r [%t] %-5p %x - %Y%n%throwable"/>-->
        <!--</FluentAppender>-->

        <Console name="STDOUT" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d %-5p %c:%L [%t] - %m%n" /> -->
            <!--<PatternLayout pattern="%d %-5p %c [%t] - %Y%n"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} - %C{3} -%-4r [%t] %-5p %x - %msg%n%throwable"/>
        </Console>

        <RandomAccessFile name="RandomAccessFile" fileName="async.log" immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
<!--        <Logger name="com.yeepay.g3.sdk.yop" level="INFO"/>-->
<!--        <Logger name="org.hibernate.type" level="ERROR"/>-->
<!--        <Logger name="org.springframework" level="ERROR"/>-->

<!--                <Logger name="org.apache" level="DEBUG"/>-->

<!--        <Logger name="org.jgroups" level="WARN"/>-->
<!--        <Logger name="org.jboss.axis" level="INFO"/>-->

<!--        <Logger name="org.jboss.management" level="INFO"/>-->
<!--        <Logger name="org.apache.commons.httpclient" level="DEBUG"/>-->
<!--        <Logger name="com.alibaba.dubbo" level="WARN"/>-->
<!--        <Logger name="com.yeepay.g3.utils" level="WARN"/>-->

        <Root level="DEBUG"><!-- 缺省日志级别，如果package有定制级别，则按package的定制级别走，即使package级别更低 -->
            <!--<AppenderRef ref="fluent-app"/>-->
                        <AppenderRef ref="STDOUT"/>
<!--            <AppenderRef ref="RandomAccessFile"/>-->
        </Root>
    </Loggers>
</Configuration>