<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} - %C{3} -%-4r [%t] %-5p %x - %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
                <Logger name="com.yeepay.yop.sdk" level="DEBUG"/>
        <!--        <Logger name="org.hibernate.type" level="ERROR"/>-->
        <!--        <Logger name="org.springframework" level="ERROR"/>-->

        <!--                <Logger name="org.apache" level="DEBUG"/>-->

        <!--        <Logger name="org.jgroups" level="WARN"/>-->
        <!--        <Logger name="org.jboss.axis" level="INFO"/>-->

        <!--        <Logger name="org.jboss.management" level="INFO"/>-->
        <!--        <Logger name="org.apache.commons.httpclient" level="DEBUG"/>-->
        <!--        <Logger name="com.alibaba.dubbo" level="WARN"/>-->
        <!--        <Logger name="com.yeepay.g3.utils" level="WARN"/>-->

        <Root level="DEBUG"><!-- 缺省日志级别，如果package有定制级别，则按package的定制级别走，即使package级别更低 -->
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>